@import "profile";

.aboutContainer {
	max-width: 95%;
}
.aboutBrand {
	font-family: $font-family;
	font-weight: bold;
	font-size: 2.5em;
	color: $nav-color;
}
.aboutPara {
	color: rgb(88, 121, 140);
	font-family: $font-family;
}
.workContainer {
	background: $nav-color;
	min-height: 15em;
}
.experienceTag {
	@extend .aboutBrand;

}
.workList {
	@extend .aboutBrand;
	font-size: 2em;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	list-style: none;
	:hover {
		cursor: pointer;
	}
}
.workListContainer {
	:hover {
		background: $hover-color - 20;
	}
}
.skillContainer {
	min-height: 15em;
}