@import "navbar";

$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

.profileBar {
	background: $nav-color;
	min-height: 40em;
}
.profileImage {
	border-radius: 999px;
	cursor: pointer;
}
.profileName {
	cursor: pointer;
	font-family: $font-family;
	font-weight: 100;
}
.firstName {
	font-size: 1em;
}
.lastName {
	font-style: italic;
	font-size: 1.5em;
}
.infoBox {
	position: relative;
	top: 6em;
}
.postClass {
	font-size: 2em;
}
.tagLine {
	color: white;
	font-size: 1.5em;
	font-style: italic;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
}

@media only screen and (max-width : 1130px) {
	.postClass {
		font-size: 2em;
	}
}

@media only screen and (max-width : 600px) {
	.postClass {
		font-size: 1em;
	}
	.tagLine {
		font-size: 1em;
	}
	.firstName {
	font-size: 0.8em;
	}
	.lastName {
		font-style: italic;
		font-size: 1.3em;
	}
}